/* SECTION debug */

body.debug .container,
body.debug .container-fluid {
  outline: 2px double blue;
  outline-offset: -2px;
}

body.debug .row {
  outline: 2px dashed red;
  outline-offset: -2px;
}

body.debug [class*="col-"] {
  outline: 2px dotted forestgreen;
  outline-offset: -3px;
}

/* SECTION */

#body{
  background-color: rgb(245, 245, 245);
}

#title{
  font-size: 60pt;
}

.card{
  height: 40vh !important;
  width: 20vw !important;
}